.title-header {
  font-size: 36px;
  font-weight: bold;
}

.transparent-container {
  background-color: transparent;
  box-shadow: none;
}

.app-grid {
  background-color: transparent;
}

.app-grid>child {
  padding: 0;
  margin: 5px 5px;
}
